#article-body{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-bottom: 4em;   
    padding: 0 80px;
    font-size: 1.6em; 
}

#article-body p {
    font-size: 1.8em;
}

#article-body ul li, #article-body ol li {
    font-size: 1.8em;
}

.article-head {
    padding-top: 6em;
    padding-bottom: 6em;    
}

.article-head h1{
    font-size: 4em;
}

.logo {
    display: block;
    margin: 0 auto;
}