#article-grid {
    border-top: 1px solid #ccc;
    padding-top: 6em;
    padding-bottom: 6em;
}

.slide-option {
    display: none;
}

.slide-menu.active ~ .slide-option {
    display: block;
}

.slide-option:hover {
    display: block;
}
.card {
    float: left;
    width: 25em;
    margin: 10px;    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.card .card-text {
    font-size: medium;
}

.card:hover {
    text-decoration: none;
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.card .card-body {
    padding: 24px;
}

.card img {
    width: 100%;  
}