<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132758189-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());    
        gtag('config', 'UA-132758189-1');
        </script>        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132758189-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132758189-1', { 'optimize_id': 'GTM-5RL3LCZ'});
        </script>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link href="css/utility.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/articles.css" rel="stylesheet">
        <link href="css/article.css" rel="stylesheet">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./js/components.js"></script>
        <title>Vishal Rajput's Blog </title>
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Vishal rajput's blog on frontend developement gadgets, work, life and everything else">
        <meta property="og:description" content="Get information on frontend development, gadgets, work, life and everything else">
        <meta property="og:url" content="https:/vi5halrajput.com/">
        <meta name="description" content="Get information on frontend development, gadgets, work, life and everything else">
        
    </head>
    <body>
        <div id = "app" class = "container">

            <my-header :active="active"></my-header>

            <div class="row justify-content-center">
                <div class="article-head">
                    <h1 class="text-center">
                        The Blog: Thoughts on life, work and everything in between.
                    </h1>
                </div>
            </div>
     
            <div class="row">
                <h2 class="col-md-10">Latest</h2> 
            </div>

            <div id="article-grid" class="row">
                <div class="col-md-12 top-section">  
                        <!-- show only top 3 articles as top story-->
                        <top-story  v-for="(item, index) in articles"  v-if="index < 3" v-bind:story="item"></top-story>
                </div>          
            </div>    

            <div class="row categories">
                <category v-for="category in categories" v-bind:category="category" v-bind:list="articles"></category>
            </div>  

            <my-footer></my-footer>            
        </div>         
        <script>
          var app = new Vue({
                el: '#app',
                data: {
                    active: "home",
                    categories: ["Programming", "Apps", "Gear"],
                    articles: [
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github",
                            "category": "Programming",
                            "tags": ["git", "disqus", "comment", "github"],
                            "visible": true
                        },
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github",
                            "tags": ["git", "disqus", "comment", "github"],
                            "category": "Apps",
                            "visible": true
                        },
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github",
                            "tags": ["git", "disqus", "comment", "github"],
                            "category": "Gear",
                            "visible": true
                        },
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github",
                            "tags": ["git", "disqus", "comment", "github"],
                            "category": "Programming",
                            "visible": true
                        },
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github",
                            "tags": ["git", "disqus", "comment", "github"],
                            "category": "Gear",
                            "visible": true
                        }
                    ],
                    searchInput: ""
                },
                methods: {
                    hello: function(){
                        var list = this.articles;
                        var q = this.searchInput;
                        for(var i = 0; i < list.length; i++) {
                            var article = list[i];
                            if(!q) {
                                article.visible = true;
                                return true;
                            }
                            if(article.tags.indexOf(this.searchInput)>-1) {
                                article.visible = true;
                            } else {
                                article.visible = false;
                            }
                        }                        
                    },
                    toggleVisiblity: function() {

                    }
                }
            })
            Vue.config.devtools = true;
        </script>  

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>