<!DOCTYPE html>
<html>
    <head>
        <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link href="css/utility.css" rel="stylesheet">
        <link href="css/articles.css" rel="stylesheet">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./js/components.js"></script>
        <title>Vishal Rajput's Blog </title>
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Vishal rajput's blog on frontend developement gadgets, work, life and everything else">
        <meta property="og:description" content="Get information on frontend development, gadgets, work, life and everything else">
        <meta property="og:url" content="https:/vi5halrajput.com/">
        <meta name="description" content="Get information on frontend development, gadgets, work, life and everything else">
    </head>
    <body>
        <div id = "app" class="container-fluid">
            <div id="mobile-menu-open" class="shadow-large">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
             <!-- End #mobile-menu-toggle -->
            <my-header></my-header>
            <div class="row justify-content-center">
                <div class="article-head">
                    <h1 class="text-center">
                        The Blog: Thoughts on life, work and everything in between.
                    </h1>
                </div>
            </div>
            <!--<input type="text" id = "search-control" v-bind:items="articles" v-model="searchInput" v-on:keyup="hello"/>-->
            <div id="article-grid" class="row justify-content-center">
                <div class="col-md-8">
                    <span>{{searchInput}}</span>
                    <a  :href=item.link v-for="item in articles" class="card" :class="item.visible ? '' : 'hidden'" style="width: 18em" v-bind:item="item">
                            <img src="./images/article-default.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text text-muted">{{item.description}}</p>                                
                            </div>
                        </a>
                </div>

            </div>
            <div class="row justify-content-center">
                <div id="disqus_thread" class="col-md-8"></div>
            </div>               
            <my-footer></my-footer>            
        </div>         
        <script>
          var app = new Vue({
                el: '#app',
                data: {
                    articles: [
                        {
                            "title": "how to add disqus on Git page",
                            "description": "This will show you how you can add disqus plugin on your github page.",
                            "link": "./articles/article.html?article=github.json",
                            "tags": ["git", "disqus", "comment", "github"],
                            "visible": true
                        }
                    ],
                    searchInput: ""
                },
                methods: {
                    hello: function(){
                        var list = this.articles;
                        var q = this.searchInput;
                        for(var i = 0; i < list.length; i++) {
                            var article = list[i];
                            if(!q) {
                                article.visible = true;
                                return true;
                            }
                            if(article.tags.indexOf(this.searchInput)>-1) {
                                article.visible = true;
                            } else {
                                article.visible = false;
                            }
                        }                        
                    },
                    toggleVisiblity: function() {

                    }
                }
            })
        </script>  

        <script>
        
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "https://vi5halrajput.com/articles.htm";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "vi5halrajput.com"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://vishal-rajput-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>